<h3>Welcome to the TMC Dungeons and Dragons Planner</h3>


<p>Running multiple campaigns? Need a place to organize your characters and notes?</p>
<p>Join us with the link below!</p>
<p><a href="/users/sign_in">Log in here</a> or <a href="/users/sign_up">Create a new account.</a></p>