  
<!DOCTYPE html>
<html>
<head>
<style>

.notice {
  color: orange;
  font-style: oblique;
}
.alert {
  color: red;
  font-style: oblique;
}

#error_explanation {
  font-size: large;
  font-style: oblique;
}

</style>
</head>
<body>

<div id="error_explanation">
<p class ="notice"><%=notice%></p>
<p class="alert"><%=alert%></p>

</body>
</html>